# Using EcoFOCIpy to process raw field data

## Cruise ID - NW1602

## BTL Data + Nutrient Data

This is a streamlined version of generation routines to merge bottle data and Mordy Nut. Lab Nutrient Data for long term archive

In [31]:
import yaml
import glob
import pandas as pd
import os

import EcoFOCIpy.io.sbe_ctd_parser as sbe_ctd_parser #<- instrument specific
import EcoFOCIpy.io.ncCFsave as ncCFsave
import EcoFOCIpy.metaconfig.load_config as load_config

In [32]:
cruise_name='nw1501'

In [33]:
sample_data_dir = f'/Users/bell/ecoraid/2015/CTDcasts/{cruise_name}/' #root path to cruise directory
ecofocipy_dir = '/Users/bell/Programs/EcoFOCIpy/'

In [34]:
###############################################################
# edit to point to {cruise sepcific} raw datafiles 
datafile = sample_data_dir+'rawconverted/' #<- point to cruise and process all files within
nutdatafile = sample_data_dir+f'working/DiscreteNutrients/{cruise_name.upper()} Nutrient Data.txt' #<- point to cruise and process all files within
cruise_meta_file = sample_data_dir+f'logs/{cruise_name}.yaml'
inst_meta_file = sample_data_dir+'logs/FOCI_standard_CTDpNutsWOCE.yaml' #<- copy to each deployment for simplicity?
group_meta_file = ecofocipy_dir+'staticdata/institutional_meta_example.yaml'
###############################################################

#init and load data
cruise = sbe_ctd_parser.sbe_btl()
filename_list = sorted(glob.glob(datafile + '*.btl'))

cruise_data = cruise.manual_parse(filename_list)

Processing /Users/bell/ecoraid/2015/CTDcasts/nw1501/rawconverted/ctd002.btl
Processing /Users/bell/ecoraid/2015/CTDcasts/nw1501/rawconverted/ctd004.btl
Processing /Users/bell/ecoraid/2015/CTDcasts/nw1501/rawconverted/ctd006.btl
Processing /Users/bell/ecoraid/2015/CTDcasts/nw1501/rawconverted/ctd007.btl
Processing /Users/bell/ecoraid/2015/CTDcasts/nw1501/rawconverted/ctd008.btl
Processing /Users/bell/ecoraid/2015/CTDcasts/nw1501/rawconverted/ctd010.btl
Processing /Users/bell/ecoraid/2015/CTDcasts/nw1501/rawconverted/ctd011.btl
Processing /Users/bell/ecoraid/2015/CTDcasts/nw1501/rawconverted/ctd012.btl
Processing /Users/bell/ecoraid/2015/CTDcasts/nw1501/rawconverted/ctd013.btl

/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/sbe_ctd_parser.py:91: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  ctd_df = pd.concat([ctd_df,row])
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/sbe_ctd_parser.py:91: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  ctd_df = pd.concat([ctd_df,row])
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/sbe_ctd_parser.py:91: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  ctd_df = pd.concat([ctd_df,row])
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/sbe_ctd_parser.py:91: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  ctd_df = pd.concat([ctd_df,row])
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/sbe_ctd_parser.py:91: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  ctd_df = pd.concat([ctd_df,row])
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/sbe_ctd_parser.py:91: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  ctd_df = pd.concat([ctd_df,row])
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/sbe_ctd_parser.py:91: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  ctd_df = pd.concat([ctd_df,row])
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/sbe_ctd_parser.py:91: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  ctd_df = pd.concat([ctd_df,row])
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/sbe_ctd_parser.py:91: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  ctd_df = pd.concat([ctd_df,row])

In [35]:
cruise_data['ctd002.btl']

,sal00,sbeox0mm/kg,sbeox0ps,sigma-t00,sigma-00,prsm,depsm,t090c,sbeox0v,fleco-afl,cstarat0,cstartr0,par,scan,datetime
bottle,,,,,,,,,,,,,,,
10.0,33.0424,122.571,39.999,26.0364,26.0379,157.073,155.611,5.7500,1.3892,0.1251,-0.1203,103.0517,0.001032,3949.0,2015-06-27 18:07:32
8.0,31.7778,193.554,64.376,24.8849,24.8856,58.694,58.162,6.9729,1.9343,0.2867,-0.1201,103.0472,0.002325,5266.0,2015-06-27 18:10:17
8.0,31.7782,193.350,64.303,24.8858,24.8865,58.700,58.168,6.9688,1.9336,0.2846,-0.1201,103.0472,0.001686,5271.0,2015-06-27 18:10:17
6.0,30.4898,264.612,90.298,23.6597,23.6599,13.793,13.669,8.5202,2.5016,1.3504,-0.1127,102.8583,40.945000,5868.0,2015-06-27 18:11:32
4.0,25.2211,325.880,119.287,18.7352,18.7352,2.318,2.298,13.5225,3.1557,1.5005,-0.1129,102.8628,1961.000000,6258.0,2015-06-27 18:12:21

## Load csv Nutrient File

In [36]:
nut_data = pd.read_csv(nutdatafile,delimiter='\t|,')
nut_data

/var/folders/6r/n_mpcj7d7pdf9ncqvjy5vb8c0000jm/T/ipykernel_76540/1253400260.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  nut_data = pd.read_csv(nutdatafile,delimiter='\t|,')

    Cast  Niskin  PO4 (uM)  Sil (uM)  NO3 (uM)  NO2 (uM)  NH4 (uM)
0      1       8     0.273       0.7       0.4      0.03      1.24
1      2       8     1.363      22.4      13.1      0.19      2.18
2      2       6     1.998      38.9      23.8      0.26      2.16
3      2       4     0.148       1.6       0.3      0.01      0.53
4      3       9     2.087      39.9      24.4      0.14      2.56
5      3       8     1.848      32.2      19.9      0.26      3.14
6      3       1     0.133       0.9       0.2      0.03      0.58
7      4       4     2.631      63.0      35.3      0.17      0.56
8      4       6     1.823      31.3      20.1      0.25      3.21
9      4       8     1.534      27.5      15.9      0.22      2.90
10     4       9     2.643      62.8      36.2      0.17      0.51
11     5       1     0.550       1.3       0.7      0.02      1.69
12     6       4     1.893      34.0      24.5      0.10      0.55
13     6       6     1.539      26.6      17.7      0.28      0.97
14     6       8     0.936      20.6       8.0      0.08      0.35
15     6       9     0.416      15.1       0.2      0.01      0.44
16     7       4     1.780      32.4      21.8      0.26      1.03
17     7       6     1.437      23.2      16.8      0.03      0.19
18     7       8     0.988      14.3       7.9      0.16      0.64
19     7       9     0.417       9.6       0.2      0.01      0.30
20     8       4     2.003      37.3      25.8      0.26      0.41
21     8       6     1.720      32.4      20.7      0.22      1.84
22     8       8     0.795      21.5       7.5      0.09      1.70
23     8       9     1.308      20.9      13.9      0.28      0.42
24     9       4     2.523      58.2      33.4      0.19      0.68
25     9       6     2.078      38.5      24.0      0.19      2.74
26     9       8     1.105      17.8       9.3      0.09      2.34
27     9       9     0.167       1.5       0.2      0.01      0.99
28    10       4     2.492      52.8      32.8      0.20      1.21
29    10       6     2.193      42.1      26.7      0.18      2.60
30    10       8     1.909      32.7      20.8      0.21      3.61
31    10       9     0.144       1.3       1.7      0.01      0.94
32    11       4     2.556      56.1      34.1      0.22      0.42
33    11       6     1.798      32.0      19.3      0.30      2.95
34    11       8     1.221      17.6       9.8      0.11      2.81
35    11       9     0.124       1.8       0.0      0.01      0.48
36    12       4     2.657      60.6      36.3      0.12      0.30
37    12       6     1.706      29.1      17.6      0.26      3.45
38    12       8     1.268      20.5      11.4      0.19      2.21
39    12       9     0.087       0.9       0.1      0.01      0.56
40    12       2     2.085      37.1      21.6      0.44      4.81
41    12       3     0.192       3.1       1.1      0.08      0.82
42    12       4     0.058       0.5       0.2      0.07      0.51

## Merge Bottle and Nutrient Data but drop non nutrient vars?

In [37]:
keep_param = ['bottle','prdm']
keep_param = ['bottle','prsm']

for cast,cdata in cruise_data.items():
    try:
        matchcast = int((cast.split('.')[0]).lower().split('ctd')[-1])
        cruise_data[cast] = pd.merge(nut_data[nut_data['Cast']==matchcast],cdata.reset_index()[keep_param],right_on='bottle',left_on='Niskin').set_index('bottle').drop(columns=['Cast'])
    except:
        continue

## Add Deployment meta information

In [38]:
#just a dictionary of dictionaries - simple
with open(cruise_meta_file) as file:
    cruise_config = yaml.full_load(file)

## Add Instrument meta information

Time, depth, lat, lon should be added regardless (always our coordinates) but for a mooring site its going to be a (1,1,1,t) dataset
The variables of interest should be read from the data file and matched to a key for naming.  That key is in the inst_config file seen below and should represent common conversion names in the raw data

In [39]:
with open(inst_meta_file) as file:
    inst_config = yaml.full_load(file)

## Add institutional meta-information

In [40]:
with open(group_meta_file) as file:
    group_config = yaml.full_load(file)

## Save CF Netcdf files

Currently stick to netcdf3 classic... but migrating to netcdf4 (default) may be no problems for most modern purposes.  Its easy enough to pass the `format` kwargs through to the netcdf api of xarray.

In [41]:
#loop over all casts and perform tasks shown above

for cast in cruise_data.keys():
    try:
        cruise_data[cast] = cruise_data[cast].rename(columns={
                            'Sil (uM)':'SI',
                            'PO4 (uM)':'PO4',
                            'NO2 (uM)':'NO2', 
                            'NO3 (uM)':'NO3',
                            'NH4 (uM)':'NH4',
                            'Sil Flag':'SI_WOCE_FLAG',
                            'PO4 Flag':'PO4_WOCE_FLAG',
                            'NO2 Flag':'NO2_WOCE_FLAG', 
                            'NO3 Flag':'NO3_WOCE_FLAG',
                            'NH4 Flag':'NH4_WOCE_FLAG',
                            'Niskin':'BTLID',
                            'prdm':'pressure',
                            'prsm':'pressure',
                            'empty':'empty', #this will be ignored
                            'flag':'flag'})

        cruise_data_nc = ncCFsave.EcoFOCI_CFnc(df=cruise_data[cast], 
                                    instrument_yaml=inst_config, 
                                    operation_yaml=cruise_config,
                                    operation_type='ctd')

        cruise_data_nc.expand_dimensions(dim_names=['latitude','longitude','time'],geophys_sort=False)

        cruise_data_nc.variable_meta_data(variable_keys=list(cruise_data[cast].columns.values),drop_missing=False)
        #adding dimension meta needs to come after updating the dimension values... BUG?
        cruise_data_nc.dimension_meta_data(variable_keys=['time','latitude','longitude'])
        cruise_data_nc.temporal_geospatioal_meta_data_ctd(positiveE=False,conscastno=cast.split('.')[0])

        #add global attributes
        cruise_data_nc.deployment_meta_add(conscastno=cast.split('.')[0].upper())

        #add instituitonal global attributes
        cruise_data_nc.institution_meta_add(group_config)

        #add creation date/time - provenance data
        cruise_data_nc.provinance_meta_add()

        #provide intial qc status field
        cruise_data_nc.qc_status(qc_status='excellent') #<- options are unknown, excellent, probably good, mixed, unqcd

        cast = cast.lower().split('d')[-1].split('.')[0]
        cruise_data_nc.xarray2netcdf_save(xdf = cruise_data_nc.get_xdf(),
                                   filename=cruise_name+'c'+cast.zfill(3)+'_nut.nc',format="NETCDF3_CLASSIC")
    except:
        print(f'Skipping & Removing {cast}')
        os.remove(path=cruise_name+'c'+cast.zfill(3)+'_nut.nc')

/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/ncCFsave.py:320: UserWarning: Times can't be serialized faithfully to int64 with requested units 'days since 1900-01-01'. Resolution of 'minutes' needed. Serializing times to floating point instead. Set encoding['dtype'] to integer dtype to serialize to int64. Set encoding['dtype'] to floating point dtype to silence this warning.
  xdf.to_netcdf(filename,format=kwargs['format'],encoding={'time':{'units':'days since 1900-01-01'}})
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/ncCFsave.py:320: UserWarning: Times can't be serialized faithfully to int64 with requested units 'days since 1900-01-01'. Resolution of 'minutes' needed. Serializing times to floating point instead. Set encoding['dtype'] to integer dtype to serialize to int64. Set encoding['dtype'] to floating point dtype to silence this warning.
  xdf.to_netcdf(filename,format=kwargs['format'],encoding={'time':{'units':'days since 1900-01-01'}})
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/ncCFsave.py:320: UserWarning: Times can't be serialized faithfully to int64 with requested units 'days since 1900-01-01'. Resolution of 'minutes' needed. Serializing times to floating point instead. Set encoding['dtype'] to integer dtype to serialize to int64. Set encoding['dtype'] to floating point dtype to silence this warning.
  xdf.to_netcdf(filename,format=kwargs['format'],encoding={'time':{'units':'days since 1900-01-01'}})
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/ncCFsave.py:320: UserWarning: Times can't be serialized faithfully to int64 with requested units 'days since 1900-01-01'. Resolution of 'minutes' needed. Serializing times to floating point instead. Set encoding['dtype'] to integer dtype to serialize to int64. Set encoding['dtype'] to floating point dtype to silence this warning.
  xdf.to_netcdf(filename,format=kwargs['format'],encoding={'time':{'units':'days since 1900-01-01'}})
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/ncCFsave.py:320: UserWarning: Times can't be serialized faithfully to int64 with requested units 'days since 1900-01-01'. Resolution of 'minutes' needed. Serializing times to floating point instead. Set encoding['dtype'] to integer dtype to serialize to int64. Set encoding['dtype'] to floating point dtype to silence this warning.
  xdf.to_netcdf(filename,format=kwargs['format'],encoding={'time':{'units':'days since 1900-01-01'}})
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/ncCFsave.py:320: UserWarning: Times can't be serialized faithfully to int64 with requested units 'days since 1900-01-01'. Resolution of 'minutes' needed. Serializing times to floating point instead. Set encoding['dtype'] to integer dtype to serialize to int64. Set encoding['dtype'] to floating point dtype to silence this warning.
  xdf.to_netcdf(filename,format=kwargs['format'],encoding={'time':{'units':'days since 1900-01-01'}})
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/ncCFsave.py:320: UserWarning: Times can't be serialized faithfully to int64 with requested units 'days since 1900-01-01'. Resolution of 'minutes' needed. Serializing times to floating point instead. Set encoding['dtype'] to integer dtype to serialize to int64. Set encoding['dtype'] to floating point dtype to silence this warning.
  xdf.to_netcdf(filename,format=kwargs['format'],encoding={'time':{'units':'days since 1900-01-01'}})
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/ncCFsave.py:320: UserWarning: Times can't be serialized faithfully to int64 with requested units 'days since 1900-01-01'. Resolution of 'minutes' needed. Serializing times to floating point instead. Set encoding['dtype'] to integer dtype to serialize to int64. Set encoding['dtype'] to floating point dtype to silence this warning.
  xdf.to_netcdf(filename,format=kwargs['format'],encoding={'time':{'units':'days since 1900-01-01'}})

Skipping & Removing 013

/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/ncCFsave.py:320: UserWarning: Times can't be serialized faithfully to int64 with requested units 'days since 1900-01-01'. Resolution of 'minutes' needed. Serializing times to floating point instead. Set encoding['dtype'] to integer dtype to serialize to int64. Set encoding['dtype'] to floating point dtype to silence this warning.
  xdf.to_netcdf(filename,format=kwargs['format'],encoding={'time':{'units':'days since 1900-01-01'}})

## Next Steps

QC of data (plot parameters with other instruments)
- be sure to updated the qc_status and the history