# Using EcoFOCIpy to process raw field data

## Cruise ID - OS1701

## BTL Data + Nutrient Data

This is a streamlined version of generation routines to merge bottle data and Mordy Nut. Lab Nutrient Data for long term archive

In [14]:
import yaml
import glob
import pandas as pd

import EcoFOCIpy.io.sbe_ctd_parser as sbe_ctd_parser #<- instrument specific
import EcoFOCIpy.io.ncCFsave as ncCFsave
import EcoFOCIpy.metaconfig.load_config as load_config

In [15]:
sample_data_dir = '/Users/bell/ecoraid/2017/CTDcasts/os1702/' #root path to cruise directory
ecofocipy_dir = '/Users/bell/Programs/EcoFOCIpy/'

In [16]:
###############################################################
# edit to point to {cruise sepcific} raw datafiles 
datafile = sample_data_dir+'rawconverted/' #<- point to cruise and process all files within
nutdatafile = sample_data_dir+'working/DiscreteNutrients/OS1702 Nutrient Data.txt' #<- point to cruise and process all files within
cruise_name = 'os1702' #no hyphens
cruise_meta_file = sample_data_dir+'logs/os1702.yaml'
inst_meta_file = sample_data_dir+'logs/FOCI_standard_CTDpNutsWOCE.yaml' #<- copy to each deployment for simplicity?
group_meta_file = ecofocipy_dir+'staticdata/institutional_meta_example.yaml'
###############################################################

#init and load data
cruise = sbe_ctd_parser.sbe_btl()
filename_list = sorted(glob.glob(datafile + '*.btl'))

cruise_data = cruise.manual_parse(filename_list)

Processing /Users/bell/ecoraid/2017/CTDcasts/os1702/rawconverted/ctd001.btl
Processing /Users/bell/ecoraid/2017/CTDcasts/os1702/rawconverted/ctd002.btl
Processing /Users/bell/ecoraid/2017/CTDcasts/os1702/rawconverted/ctd003.btl
Processing /Users/bell/ecoraid/2017/CTDcasts/os1702/rawconverted/ctd004.btl

/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/sbe_ctd_parser.py:91: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  ctd_df = pd.concat([ctd_df,row])
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/sbe_ctd_parser.py:91: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  ctd_df = pd.concat([ctd_df,row])
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/sbe_ctd_parser.py:91: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  ctd_df = pd.concat([ctd_df,row])
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/sbe_ctd_parser.py:91: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  ctd_df = pd.concat([ctd_df,row])

In [18]:
cruise_data['ctd001.btl']

,sal00,sbox0mm/kg,sbox1mm/kg,sigma-t00,density11,sal11,sbeox0ps,sbeox1ps,t090c,t190c,scan,prdm,fleco-afl,turbwetntu0,par,datetime
bottle,,,,,,,,,,,,,,,,
1.0,31.6581,295.712,289.566,25.3659,1025.6964,31.6614,84.704,82.943,0.8729,0.8730,5397.0,68.831,0.3368,2.2943,1.1737,2017-09-30 19:04:12
2.0,31.6458,300.328,293.805,25.3456,1025.5933,31.6488,86.427,84.550,1.0572,1.0574,6831.0,51.543,0.2680,1.0759,1.1833,2017-09-30 19:05:12
3.0,31.6475,302.123,295.689,25.3425,1025.5373,31.6502,87.118,85.263,1.1347,1.1351,8251.0,40.504,0.2619,0.8194,1.2746,2017-09-30 19:06:11
4.0,31.6275,302.160,295.944,25.2826,1025.4201,31.6173,88.663,86.839,1.8251,1.8119,9389.0,30.555,0.5849,0.3717,1.6762,2017-09-30 19:06:59
5.0,31.4652,289.649,283.703,24.6981,1024.8029,31.4715,95.096,93.143,6.5100,6.4764,10545.0,20.669,1.6053,0.2107,2.9257,2017-09-30 19:07:47
6.0,31.4281,290.325,285.352,24.6422,1024.6918,31.4296,95.759,94.119,6.7215,6.7219,11477.0,10.513,1.7984,0.2101,9.1812,2017-09-30 19:08:25
7.0,31.4280,290.732,285.151,24.6410,1024.6466,31.4301,95.912,94.071,6.7302,6.7303,12476.0,0.864,1.7080,0.2091,54.4580,2017-09-30 19:09:07

## Load csv Nutrient File

In [19]:
nut_data = pd.read_csv(nutdatafile,delimiter='\t')
nut_data

    Cast  Niskin  PO4 (uM)  Sil (uM)  NO3 (uM)  NO2 (uM)  NH4 (uM)
0      1       7     0.629       7.5       0.4      0.04      0.52
1      1       6     0.613       5.9       0.1      0.04      0.22
2      1       5     0.606       5.3       0.1      0.05      0.22
3      1       4     1.231      11.2       2.0      0.43      4.09
4      1       3     1.362      13.0       2.5      0.48      4.83
5      1       2     1.383      13.5       2.8      0.47      4.87
6      1       1     1.233      11.1       2.5      0.28      4.25
7      2       1     1.383      18.1       3.7      0.37      5.38
8      2       2     1.354      17.4       3.5      0.33      5.46
9      2       3     1.340      16.7       3.2      0.30      5.32
10     2       4     0.904       8.5       1.3      0.15      1.97
11     2       5     0.483       0.2       0.0      0.01      0.20
12     2       6     0.491       0.4       0.0      0.01      0.09
13     2       7     0.496       0.1       0.0      0.01      0.07
14     3       7     0.514       1.5       0.0      0.01      0.05
15     3       6     0.504       1.6       0.0      0.01      0.08
16     3       5     0.508       1.7       0.0      0.01      0.08
17     3       4     1.631      24.4       7.7      0.43      5.27
18     3       3     1.621      24.3       7.6      0.41      5.16
19     3       2     1.674      24.5       7.8      0.42      5.25
20     3       1     1.639      24.7       7.8      0.42      5.25
21     4       1     2.196      47.9      25.9      0.06      0.04
22     4       2     2.170      46.4      25.6      0.06      0.02
23     4       3     1.692      32.8      19.1      0.05      0.02
24     4       4     1.217      23.5      11.4      0.50      0.17
25     4       5     1.206      22.0      10.7      0.48      0.16
26     4       6     0.946      17.5       6.6      0.45      0.33
27     4       7     0.909      16.8       6.2      0.42      0.24
28     4       8     0.887      17.2       6.4      0.43      0.25
29     4       9     0.880      17.1       6.3      0.43      0.23

## Merge Bottle and Nutrient Data but drop non nutrient vars?

In [20]:
keep_param = ['bottle','prdm']
# keep_param = ['bottle','prsm']

for cast,cdata in cruise_data.items():
    try:
        matchcast = int((cast.split('.')[0]).lower().split('ctd')[-1])
        cruise_data[cast] = pd.merge(nut_data[nut_data['Cast']==matchcast],cdata.reset_index()[keep_param],right_on='bottle',left_on='Niskin').set_index('bottle').drop(columns=['Cast'])
    except:
        continue

## Add Deployment meta information

In [21]:
#just a dictionary of dictionaries - simple
with open(cruise_meta_file) as file:
    cruise_config = yaml.full_load(file)

## Add Instrument meta information

Time, depth, lat, lon should be added regardless (always our coordinates) but for a mooring site its going to be a (1,1,1,t) dataset
The variables of interest should be read from the data file and matched to a key for naming.  That key is in the inst_config file seen below and should represent common conversion names in the raw data

In [22]:
with open(inst_meta_file) as file:
    inst_config = yaml.full_load(file)

## Add institutional meta-information

In [23]:
with open(group_meta_file) as file:
    group_config = yaml.full_load(file)

## Save CF Netcdf files

Currently stick to netcdf3 classic... but migrating to netcdf4 (default) may be no problems for most modern purposes.  Its easy enough to pass the `format` kwargs through to the netcdf api of xarray.

In [24]:
#loop over all casts and perform tasks shown above

for cast in cruise_data.keys():
    try:
        cruise_data[cast] = cruise_data[cast].rename(columns={
                            'Sil (uM)':'SI',
                            'PO4 (uM)':'PO4',
                            'NO2 (uM)':'NO2', 
                            'NO3 (uM)':'NO3',
                            'NH4 (uM)':'NH4',
                            'Sil Flag':'SI_WOCE_FLAG',
                            'PO4 Flag':'PO4_WOCE_FLAG',
                            'NO2 Flag':'NO2_WOCE_FLAG', 
                            'NO3 Flag':'NO3_WOCE_FLAG',
                            'NH4 Flag':'NH4_WOCE_FLAG',
                            'Niskin':'BTLID',
                            'prdm':'pressure',
                            'prsm':'pressure',
                            'empty':'empty', #this will be ignored
                            'flag':'flag'})

        cruise_data_nc = ncCFsave.EcoFOCI_CFnc(df=cruise_data[cast], 
                                    instrument_yaml=inst_config, 
                                    operation_yaml=cruise_config,
                                    operation_type='ctd')

        cruise_data_nc.expand_dimensions(dim_names=['latitude','longitude','time'],geophys_sort=False)

        cruise_data_nc.variable_meta_data(variable_keys=list(cruise_data[cast].columns.values),drop_missing=False)
        #adding dimension meta needs to come after updating the dimension values... BUG?
        cruise_data_nc.dimension_meta_data(variable_keys=['time','latitude','longitude'])
        cruise_data_nc.temporal_geospatioal_meta_data_ctd(positiveE=False,conscastno=cast.split('.')[0])

        #add global attributes
        cruise_data_nc.deployment_meta_add(conscastno=cast.split('.')[0].upper())

        #add instituitonal global attributes
        cruise_data_nc.institution_meta_add(group_config)

        #add creation date/time - provenance data
        cruise_data_nc.provinance_meta_add()

        #provide intial qc status field
        cruise_data_nc.qc_status(qc_status='excellent') #<- options are unknown, excellent, probably good, mixed, unqcd

        cast = cast.lower().split('d')[-1].split('.')[0]
        cruise_data_nc.xarray2netcdf_save(xdf = cruise_data_nc.get_xdf(),
                                   filename=cruise_name+'c'+cast.zfill(3)+'_nut.nc',format="NETCDF3_CLASSIC")
    except:
        print(f'Skipping {cast}')

/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/ncCFsave.py:320: UserWarning: Times can't be serialized faithfully to int64 with requested units 'days since 1900-01-01'. Resolution of 'minutes' needed. Serializing times to floating point instead. Set encoding['dtype'] to integer dtype to serialize to int64. Set encoding['dtype'] to floating point dtype to silence this warning.
  xdf.to_netcdf(filename,format=kwargs['format'],encoding={'time':{'units':'days since 1900-01-01'}})
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/ncCFsave.py:320: UserWarning: Times can't be serialized faithfully to int64 with requested units 'days since 1900-01-01'. Resolution of 'minutes' needed. Serializing times to floating point instead. Set encoding['dtype'] to integer dtype to serialize to int64. Set encoding['dtype'] to floating point dtype to silence this warning.
  xdf.to_netcdf(filename,format=kwargs['format'],encoding={'time':{'units':'days since 1900-01-01'}})
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/ncCFsave.py:320: UserWarning: Times can't be serialized faithfully to int64 with requested units 'days since 1900-01-01'. Resolution of 'minutes' needed. Serializing times to floating point instead. Set encoding['dtype'] to integer dtype to serialize to int64. Set encoding['dtype'] to floating point dtype to silence this warning.
  xdf.to_netcdf(filename,format=kwargs['format'],encoding={'time':{'units':'days since 1900-01-01'}})
/Users/bell/src/ecofocipy/src/EcoFOCIpy/io/ncCFsave.py:320: UserWarning: Times can't be serialized faithfully to int64 with requested units 'days since 1900-01-01'. Resolution of 'minutes' needed. Serializing times to floating point instead. Set encoding['dtype'] to integer dtype to serialize to int64. Set encoding['dtype'] to floating point dtype to silence this warning.
  xdf.to_netcdf(filename,format=kwargs['format'],encoding={'time':{'units':'days since 1900-01-01'}})

## Next Steps

QC of data (plot parameters with other instruments)
- be sure to updated the qc_status and the history